electerm
testit
lugins_not_2
nouse
nouse_p
nouse_plugins
tmp
electerm/
dll
tmp_web
electerm
.DS_Store
worldview
tmpdesktopdist
hist_release_backup
# docs/
release_dist
release_dist_pkg
exts
web/dist
editor
# docs
#public_repository
public_docs
docker/dist
docker_arm64/dist
uat
epoch/
epoch/*.zip
epoch/VSCode-darwin-x64/
epoch/VSCode-darwin-arm64/
epoch/VSCode-win32-x64/
epoch/VSCode-win32-x64/
epoch/VSCode-linux-x64/
exts/**/node_modules/*
node_modules
tmpnode_modules
.cache
systemp/
.idea
plugins_dist_archive
plugins_dist
plugins_dist
plugins_dist/*
plugins_dist/**/*
dist
jdk
attach
jdk
*icloud
editor_dist
.history
infra/run-client/*
infra/run-client
infra/client-1.0-pg.jar
infra/data
infra/data/*
infra/jarlist/*
infra/jarlist/*
infra/jre/*
infra/jre/*